<div id="<%= dom_id book_review %>">
  <p>
    <strong>Book:</strong>
    <%= book_review.book_id %>
  </p>

  <p>
    <strong>Library card:</strong>
    <%= book_review.library_card_id %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= book_review.review_text %>
  </p>

</div>
