<div id="<%= dom_id book_comment %>">
  <p>
    <strong>Book:</strong>
    <%= book_comment.book_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= book_comment.client_id %>
  </p>

  <p>
    <strong>Comment text:</strong>
    <%= book_comment.comment_text %>
  </p>

</div>
