<div id="<%= dom_id author %>">
  <p>
    <strong>Author name:</strong>
    <%= author.author_name %>
  </p>

  <p>
    <strong>Author surname:</strong>
    <%= author.author_surname %>
  </p>

  <p>
    <strong>Author midname:</strong>
    <%= author.author_midname %>
  </p>

</div>
