<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__column">
      <div class="uniq-first">Контактні дані:</div>
      <ul class="menu-footer">
        <li class="menu-footer__item">+380 66 139 0861</li>
        <li class="menu-footer__item">pagehub.lib@libhub.com</li>
        <li class="menu-footer__item">м. Запоріжжя, просп. Соборний, буд. 130</li>
      </ul>
    </div>
    <div class="footer__column">© 2024 PageHub. Всі права захищені. Ваш ключ до світу книжкових пригод</div>
    <div class="footer__column">
      <div class="uniq-second">Слідкуйте за нами:</div>
      <div class="footer__icon">
        <a href="https://www.facebook.com/" class="footer__facebook">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="facebook__svg" d="M25.5 13C25.5 6.09644 19.9036 0.5 13 0.5C6.09644 0.5 0.5 6.09644 0.5 13C0.5 19.2391 5.07107 24.4104 11.0469 25.3481V16.6133H7.87305V13H11.0469V10.2461C11.0469 7.11329 12.913 5.38281 15.7682 5.38281C17.1359 5.38281 18.5664 5.62695 18.5664 5.62695V8.70312H16.9901C15.4374 8.70312 14.9531 9.66667 14.9531 10.6553V13H18.4199L17.8657 16.6133H14.9531V25.3481C20.9289 24.4104 25.5 19.2391 25.5 13Z" fill="#F7F1F0"/>
          </svg>
        </a>
        <a href="https://www.instagram.com/" class="footer__instagram">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="instagram__svg" fill-rule="evenodd" clip-rule="evenodd" d="M13 0.5C9.605 0.5 9.18 0.514162 7.84666 0.575C6.51584 0.635837 5.60666 0.8475 4.81166 1.15666C3.97834 1.47 3.2225 1.96166 2.5975 2.59834C1.96185 3.22261 1.46989 3.97791 1.15584 4.81166C0.848337 5.60666 0.635837 6.51666 0.575 7.8475C0.515 9.18 0.5 9.60416 0.5 13C0.5 16.3959 0.514162 16.82 0.575 18.1534C0.635837 19.4841 0.8475 20.3934 1.15666 21.1884C1.47 22.0216 1.96166 22.7775 2.59834 23.4025C3.22262 24.0381 3.97792 24.5301 4.81166 24.8441C5.60666 25.1525 6.51584 25.3641 7.84666 25.425C9.18 25.4859 9.605 25.5 13 25.5C16.395 25.5 16.82 25.4859 18.1534 25.425C19.4841 25.3641 20.3934 25.1525 21.1884 24.8434C22.0216 24.53 22.7775 24.0384 23.4025 23.4016C24.0381 22.7774 24.5301 22.0221 24.8441 21.1884C25.1525 20.3934 25.3641 19.4841 25.425 18.1534C25.4859 16.82 25.5 16.395 25.5 13C25.5 9.605 25.4859 9.18 25.425 7.84666C25.3641 6.51584 25.1525 5.60666 24.8434 4.81166C24.5295 3.97755 24.0375 3.22194 23.4016 2.5975C22.7774 1.96185 22.0221 1.46989 21.1884 1.15584C20.3934 0.848337 19.4834 0.635837 18.1525 0.575C16.82 0.515 16.3959 0.5 13 0.5ZM13 2.7525C16.3375 2.7525 16.7334 2.765 18.0516 2.825C19.27 2.88084 19.9316 3.08334 20.3725 3.25584C20.9559 3.48166 21.3725 3.75334 21.81 4.19C22.2475 4.6275 22.5184 5.04416 22.7441 5.6275C22.9159 6.06834 23.1191 6.73 23.175 7.94834C23.235 9.26666 23.2475 9.6625 23.2475 13C23.2475 16.3375 23.235 16.7334 23.175 18.0516C23.1191 19.27 22.9166 19.9316 22.7441 20.3725C22.5441 20.9155 22.2249 21.4066 21.81 21.81C21.4067 22.225 20.9155 22.5442 20.3725 22.7441C19.9316 22.9159 19.27 23.1191 18.0516 23.175C16.7334 23.235 16.3384 23.2475 13 23.2475C9.66166 23.2475 9.26666 23.235 7.94834 23.175C6.73 23.1191 6.06834 22.9166 5.6275 22.7441C5.08455 22.5441 4.59334 22.2249 4.19 21.81C3.77515 21.4066 3.45594 20.9154 3.25584 20.3725C3.08416 19.9316 2.88084 19.27 2.825 18.0516C2.765 16.7334 2.7525 16.3375 2.7525 13C2.7525 9.6625 2.765 9.26666 2.825 7.94834C2.88084 6.73 3.08334 6.06834 3.25584 5.6275C3.48166 5.04416 3.75334 4.6275 4.19 4.19C4.59329 3.77504 5.08451 3.45581 5.6275 3.25584C6.06834 3.08416 6.73 2.88084 7.94834 2.825C9.26666 2.765 9.6625 2.7525 13 2.7525Z" fill="#F7F1F0"/>
            <path id="instagram__svg" fill-rule="evenodd" clip-rule="evenodd" d="M13 17.1709C12.4522 17.1709 11.91 17.063 11.4039 16.8534C10.8979 16.6437 10.4381 16.3365 10.0508 15.9492C9.66349 15.5619 9.35626 15.1021 9.14666 14.5961C8.93705 14.0901 8.82917 13.5477 8.82917 13C8.82917 12.4522 8.93705 11.9099 9.14666 11.4039C9.35626 10.8979 9.66349 10.4381 10.0508 10.0508C10.4381 9.66346 10.8979 9.35625 11.4039 9.14664C11.91 8.93704 12.4522 8.82915 13 8.82915C14.1062 8.82915 15.167 9.26858 15.9492 10.0508C16.7314 10.833 17.1709 11.8939 17.1709 13C17.1709 14.1061 16.7314 15.167 15.9492 15.9492C15.167 16.7314 14.1062 17.1709 13 17.1709ZM13 6.57499C11.296 6.57499 9.66176 7.2519 8.45685 8.45682C7.25192 9.66175 6.57501 11.296 6.57501 13C6.57501 14.704 7.25192 16.3382 8.45685 17.5431C9.66176 18.7481 11.296 19.425 13 19.425C14.704 19.425 16.3382 18.7481 17.5431 17.5431C18.7481 16.3382 19.425 14.704 19.425 13C19.425 11.296 18.7481 9.66175 17.5431 8.45682C16.3382 7.2519 14.704 6.57499 13 6.57499ZM21.2941 6.45833C21.2941 6.86111 21.1341 7.24741 20.8494 7.53224C20.5645 7.81706 20.1782 7.97707 19.7755 7.97707C19.3726 7.97707 18.9864 7.81706 18.7015 7.53224C18.4167 7.24741 18.2566 6.86111 18.2566 6.45833C18.2566 6.05553 18.4167 5.66922 18.7015 5.3844C18.9864 5.09959 19.3726 4.93958 19.7755 4.93958C20.1782 4.93958 20.5645 5.09959 20.8494 5.3844C21.1341 5.66922 21.2941 6.05553 21.2941 6.45833Z" fill="#F7F1F0"/>
          </svg>
        </a>
        <a href="https://web.telegram.org/a/" class="footer__telegram">
          <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path id="telegram__svg" fill-rule="evenodd" clip-rule="evenodd" d="M25.5 13C25.5 19.9035 19.9035 25.5 13 25.5C6.09644 25.5 0.5 19.9035 0.5 13C0.5 6.09644 6.09644 0.5 13 0.5C19.9035 0.5 25.5 6.09644 25.5 13ZM13.4479 9.72805C12.2321 10.2337 9.80221 11.2804 6.15821 12.868C5.56647 13.1034 5.2565 13.3336 5.22829 13.5586C5.1806 13.9391 5.65699 14.0889 6.30569 14.2929C6.39394 14.3206 6.48536 14.3494 6.57909 14.3797C7.21731 14.5872 8.07585 14.83 8.52216 14.8396C8.92701 14.8484 9.37887 14.6815 9.87774 14.3389C13.2825 12.0406 15.04 10.879 15.1502 10.8539C15.2281 10.8362 15.336 10.814 15.4091 10.879C15.4822 10.944 15.475 11.067 15.4672 11.1C15.4201 11.3012 13.5501 13.0397 12.5824 13.9394C12.2807 14.2199 12.0667 14.4187 12.023 14.4642C11.925 14.566 11.8251 14.6622 11.7291 14.7547C11.1362 15.3264 10.6915 15.755 11.7537 16.455C12.2642 16.7914 12.6726 17.0695 13.0801 17.347C13.5251 17.6501 13.969 17.9524 14.5434 18.3289C14.6896 18.4247 14.8294 18.5244 14.9655 18.6214C15.4834 18.9906 15.9486 19.3224 16.5235 19.2694C16.8575 19.2387 17.2025 18.9246 17.3777 17.9879C17.7919 15.7741 18.6059 10.9775 18.794 9.00101C18.8105 8.82785 18.7897 8.60623 18.7731 8.50894C18.7564 8.41165 18.7216 8.27302 18.5951 8.17041C18.4454 8.04889 18.2142 8.02326 18.1107 8.025C17.6406 8.03337 16.9192 8.28419 13.4479 9.72805Z" fill="#F7F1F0"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>