<main class="content-container">
  <section class="section-container">
    <div class="section-container-header">
      <h1 class="container-title">Про сервіс</h1>
    </div>

    <div class="about-content-container">
      <p class="about-text">
        PageHub - це інноваційний веб-додаток, який створений, щоб зробити доступ до світу книг ще зручнішим та захопливішим. За допомогою PageHub<br>
        ви зможете легко оглядати каталог книг доступних у вашій місцевій бібліотеці та відразу здійснювати бронювання та позичання необхідних видань.
      </p>

      <div class="options-container">
        <div class="single-option">
          <h2 class="option-title">Перегляд асортименту</h2>
          <p class="option-description">Ознайомтесь з різноманіттям книг доступних у вашій бібліотеці, шукайте за жанрами, авторами та видавництвами</p>
        </div>

        <div class="single-option">
          <h2 class="option-title">Відгуки та оцінки</h2>
          <p class="option-description">Діліться своїми враженнями від прочитаних книг, залишайте відгуки та ставте оцінки для інших користувачів.</p>
        </div>

        <div class="single-option">
          <h2 class="option-title">Бронювання та позичання</h2>
          <p class="option-description">Резервуйте книги для пізнішого позичання, контролюйте терміни та повертайте їх у зручний для вас час.</p>
        </div>

        <div class="single-option">
          <h2 class="option-title">Особистий кабінет</h2>
          <p class="option-description">Керуйте вашими позичками, переглядайте історію, змінюйте налаштування та більше.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-container">
    <div class="section-container-header">
      <h1 class="container-title">Новини</h1>
    </div>

    <div class="books-container">
      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Грокаємо алгоритми</h2>
        <div class="author-and-avail">
          <p class="book-author">Адітья Бхаргава</p>
          <p class="avail-amount">В наявності 1/1</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-container">
    <div class="section-container-header">
      <h1 class="container-title">Кращі</h1>
    </div>

    <div class="books-container">
      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Грокаємо алгоритми</h2>
        <div class="author-and-avail">
          <p class="book-author">Адітья Бхаргава</p>
          <p class="avail-amount">В наявності 1/1</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-container">
    <div class="section-container-header">
      <h1 class="container-title">Популярні</h1>
    </div>

    <div class="books-container">
      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Грокаємо алгоритми</h2>
        <div class="author-and-avail">
          <p class="book-author">Адітья Бхаргава</p>
          <p class="avail-amount">В наявності 1/1</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>

      <div class="single-book">
        <div class="book-photo"></div>
        <h2 class="book-title">Тереодери з Васюківки</h2>
        <div class="author-and-avail">
          <p class="book-author">Всеволод Нестайко</p>
          <p class="avail-amount">В наявності 1/3</p>
        </div>
      </div>
    </div>
  </section>
</main>