<div id="<%= dom_id library_card %>">
  <p>
    <strong>Client:</strong>
    <%= library_card.client_id %>
  </p>

  <p>
    <strong>Max borrow allowed:</strong>
    <%= library_card.max_borrow_allowed %>
  </p>

</div>
