<h1>Editing library card</h1>

<%= render "form", library_card: @library_card %>

<br>

<div>
  <%= link_to "Show this library card", @library_card %> |
  <%= link_to "Back to library cards", library_cards_path %>
</div>
