<div id="<%= dom_id return %>">
  <p>
    <strong>Book:</strong>
    <%= return.book_id %>
  </p>

  <p>
    <strong>Library card:</strong>
    <%= return.library_card_id %>
  </p>

  <p>
    <strong>Date of return:</strong>
    <%= return.date_of_return %>
  </p>

</div>
