/*
 *= require_self
 *
 *= require header.css
 *
 *= require registrations.css
 *
 *= require footer.css
 */

:root {
    --color-bg-light: #F7F1F0;
    --color-bg-medium: #C3A6A0;
    --color-bg-dark: #A15C38;
    --color-text-dark: #262220;
    --color-bg-hover: #754329;
    --color-footer-hover: #C3A6A0;

    --border-radius: 10px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--color-bg-light);
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}