/*
 *= require_self
 *
 *= require header.css
 *
 *= require registrations.css
 *
 *= require footer.css
 *
 *= require home.css
 *
 *= require profile.css
 *
 *= require book.css
 *
 *= require review.css
 */

:root {
    --color-bg-light: #F7F1F0;
    --color-bg-medium: #C3A6A0;
    --color-bg-dark: #A15C38;
    --color-text-dark: #262220;
    --color-text-semi-dark: #454140;
    --color-bg-hover: #754329;
    --color-footer-hover: #C3A6A0;
    --color-book-hover: #D1B8B4;
    --color-book-amount: #568A62;

    --border-radius: 10px;
}

*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--color-bg-light);
    font-weight: 400;
    margin: 0;
}

h1, h2, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.page-container {
    max-width: 1280px;
    margin: 0 auto;
}

.page-container__wrapper {
    margin-bottom: 48px;
}