.category-n-profile {
    margin-top: 30px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    gap: 48px;
    min-height: calc(100vh - 71px - 159px - 78px);
}

.category-container {
    gap: 25px;
    padding: 25px;
    background-color: var(--color-bg-medium);
    width: fit-content;
    align-self: flex-start;
    border-radius: 10px;
}

.form-category-container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 250px;
}

.single-category-btn {
    border: none;
    border-radius: 10px;
    background-color: var(--color-bg-dark);
    color: var(--color-bg-light);
    width: 250px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.2s linear;
}

.single-category-btn:hover, .btn-primary:hover {
    background-color: var(--color-bg-hover);
}

.profile-container {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 25px;
    padding: 25px;
    background-color: var(--color-bg-medium);
    border-radius: 10px;
    width: 982px;
    height: fit-content;
}

.profile-container form, .library-card-info {
    display: grid;
    align-items: center;
    /*justify-content: center;*/
    gap: 25px;
    align-content: center;
}

.form-group {
    display: grid;
    align-items: center;
    gap: 10px;
}

.form-group label,
.card-group-title,
.button-personal-container h2 {
    font-weight: 600;
    font-size: 20px;
}

.form-control, .card-group-info {
    height: 41px;
    border: 1px solid;
    border-color: var(--color-text-dark);
    border-radius: 10px;
    width: 932px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto Condensed", sans-serif;
}

#card-group-info-id {
    background-color: white;
    color: var(--color-text-dark);
}

.btn-primary {
    width: 100px;
    height: 41px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: var(--color-bg-dark);
    color: var(--color-bg-light);
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s linear;
}

#create-card {
    width: 130px;
}

.button-personal-container {
    display: grid;
    justify-content: center;
}

.create-card-title {
    text-align: center;
    /*color: var(--color-bg-dark);*/
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 10px;
}

.single-borrowed-book {
    padding: 15px;
    width: 932px;
    border-radius: 10px;
    background-color: var(--color-bg-dark);
    display: grid;
    gap: 15px;
}

.single-borrowed-book-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-borrowed-book-header-title {
    color: var(--color-bg-light);
    font-size: 20px;
    cursor: pointer;
}

.single-borrowed-book-header-btn-container {
    display: flex;
    gap: 10px;
}

.write-review, .return-book {
    background-color: var(--color-bg-light);
    padding: 6px;
    border-radius: 10px;
    color: var(--color-text-dark);
    font-size: 16px;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
    border: none;
    transition: 0.2s linear;
}

.write-review:hover, .return-book:hover {
    background-color: var(--color-bg-medium);
}

.single-borrowed-book-body {
    display: flex;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-bg-light);
    gap: 60px;
}

.single-borrowed-book-labels,
.single-borrowed-book-infos {
    display: grid;
    gap: 15px;
}

.single-borrowed-book-label,
.single-borrowed-book-info {
    font-size: 20px;
    font-weight: 400;
}