<div id="<%= dom_id book_raiting %>">
  <p>
    <strong>Book:</strong>
    <%= book_raiting.book_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= book_raiting.client_id %>
  </p>

  <p>
    <strong>Rating value:</strong>
    <%= book_raiting.rating_value %>
  </p>

</div>
