<h1>Editing book raiting</h1>

<%= render "form", book_raiting: @book_raiting %>

<br>

<div>
  <%= link_to "Show this book raiting", @book_raiting %> |
  <%= link_to "Back to book raitings", book_raitings_path %>
</div>
