<p style="color: green"><%= notice %></p>

<h1>Book raitings</h1>

<div id="book_raitings">
  <% @book_raitings.each do |book_raiting| %>
    <%= render book_raiting %>
    <p>
      <%= link_to "Show this book raiting", book_raiting %>
    </p>
  <% end %>
</div>

<%= link_to "New book raiting", new_book_raiting_path %>
