<div class="section-reg">
  <div class="section-reg__wrapper">
    <h1 class="section-reg__h1"><%= t('.h2') %></h1>
    <%= form_with(model: resource, url: password_path(resource_name), class: "section-reg__form") do |f| %>
      <div><%= f.email_field :email, placeholder: "Email", class: "form__input" %></div>
      <div><%= f.submit t('.reset_pass'), class: "button form__btn" %></div>
    <% end %>
  </div>
</div>